RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
CONTACT_FORM_FROM_EMAIL=Inclusive Media Network <website@inclusivemedianetwork.com>
CONTACT_FORM_TO_EMAILS=Ankita@inclusivemedianetwork.com,javed@inclusivemedianetwork.com,hasanabbas13@gmail.com
